N8N GHL,GC,Square Flows/Consolidated Flow/g_user_check.json
{
  "name": "g_user_check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "g_user_check",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -512,
        -128
      ],
      "id": "0cb2e0ed-26a1-45cc-a179-daea3af9f3f9",
      "name": "Webhook",
      "webhookId": "a578a0b1-7b81-4524-947f-6a3dfa568adf"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "client",
        "filters": {
          "conditions": [
            {
              "keyName": "agent_id",
              "keyValue": "={{ $json.body.call_inbound.agent_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -288,
        -128
      ],
      "id": "45b7d4fc-7569-472a-adcd-52cda99d0431",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "gvy78sNnKp8tzgrQ",
          "name": "Supabase Rynova"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ec2773fe-a1bb-4bca-ab68-3cf81c8fd10f",
              "leftValue": "={{ $json.client_id }}",
              "rightValue": "NULL",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -64,
        -128
      ],
      "id": "0bace747-7e66-4670-b934-484543971be4",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.crm_type }}",
                    "rightValue": "Square",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6191f388-37fb-457c-86ad-e6d9c30d536a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Square"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0c3425c5-b69c-4763-82cd-860869da8854",
                    "leftValue": "={{ $json.crm_type }}",
                    "rightValue": "ghl",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GoHighLeveL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        272,
        -112
      ],
      "id": "5381058e-9444-4d7a-8efa-b1da0c796dcf",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://connect.squareup.com/v2/customers/search",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"accept\": \"application/json\",\n  \"Square-Version\": \"2025-07-16\",\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer {{ $json.crm_api_key }}\"\n}\n ",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {\n    \"filter\": {\n      \"phone_number\": {\n        \"fuzzy\": \"{{ $('Webhook').item.json.body.args.phone }}\"\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -112
      ],
      "id": "1d88c8a0-aaa7-4d12-9096-aba3a48520e6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"call_inbound\": {\n    \"dynamic_variables\": {\n        \"first_name\": \"{{ $json.customers[0].given_name }}\",\n\"last_name\":\"{{ $json.customers[0].family_name }}\",\n\"customer_status\":\"Customer_Exists\",\n\"customer_name\": \"{{ $json.customers[0].given_name }} {{ $json.customers[0].family_name }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -224
      ],
      "id": "54bbf735-e932-40c0-9fa4-abaa9aa88b79",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1376,
        -112
      ],
      "id": "904c2cd6-fb59-40dd-a237-c87888dc0a64",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"call_inbound\": {\n    \"dynamic_variables\": {\n        \"first_name\": \"\",\n\"last_name\":\"\",\n\"customer_status\":\"new\",\n\"customer_name\": \"\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -16
      ],
      "id": "dbe22f4e-cf81-4641-873b-a5fb86f7baf9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "51dffc54-a470-44a4-883f-8e2f192c6923",
              "leftValue": "={{ $json.customers[0] }}",
              "rightValue": "={{ $json.customers[0].id }}",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        -112
      ],
      "id": "96dc6ff3-8d7f-4df7-9b00-644294510fa4",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "client",
        "filters": {
          "conditions": [
            {
              "keyName": "client_id",
              "keyValue": "={{ $('Webhook').item.json.body.args.clientId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        496,
        -112
      ],
      "id": "d8c33f5f-6001-41b2-8f17-ae71f2f3aafb",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "gvy78sNnKp8tzgrQ",
          "name": "Supabase Rynova"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const supabaseData = item.json;\n  \n  const response = {\n    call_inbound: {\n      dynamic_variables: {\n        first_name: \"\",\n        last_name: \"\",\n        customer_email: \"\",\n        customer_id: \"\",\n        preferred_service: \"\",\n        preferred_time_slot: \"\",\n        total_visits: \"\",\n        total_spent: \"\",\n        last_visit_date: \"\",\n        customer_notes: \"\",\n        account_status: \"\",\n        customer_status: \"new\"\n      }\n    }\n  };\n  \n  if (supabaseData && supabaseData.customer_id) {\n    const customer = supabaseData;\n    \n    response.call_inbound.dynamic_variables.first_name = customer.first_name || \"\";\n    response.call_inbound.dynamic_variables.last_name = customer.last_name || \"\";\n    response.call_inbound.dynamic_variables.customer_email = customer.email || \"\";\n    response.call_inbound.dynamic_variables.customer_id = customer.customer_id || \"\";\n    response.call_inbound.dynamic_variables.preferred_service = customer.preferred_service || \"\";\n    response.call_inbound.dynamic_variables.preferred_time_slot = customer.preferred_time_slot || \"\";\n    response.call_inbound.dynamic_variables.total_visits = customer.total_visits ? customer.total_visits.toString() : \"\";\n    response.call_inbound.dynamic_variables.total_spent = customer.total_spent ? customer.total_spent.toString() : \"\";\n    response.call_inbound.dynamic_variables.last_visit_date = customer.last_visit_date || \"\";\n    response.call_inbound.dynamic_variables.customer_notes = customer.notes || \"\";\n    response.call_inbound.dynamic_variables.account_status = customer.status || \"\";\n    response.call_inbound.dynamic_variables.customer_status = \"existing\";\n  }\n  \n  return { json: response };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -640
      ],
      "id": "7f3b2824-ded0-4d4a-a0b0-2087727f5089",
      "name": "Format Retell Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=\n{\n\"call_inbound\": \n{\n\"dynamic_variables\": \n{\n\"first_name\": \n\"{{ $json.call_inbound.dynamic_variables.first_name }}\",\n\"last_name\": \n\"{{ $json.call_inbound.dynamic_variables.last_name }}\",\n\"customer_email\": \n\"{{ $json.call_inbound.dynamic_variables.customer_email }}\",\n\"customer_id\": \n\"{{ $json.call_inbound.dynamic_variables.customer_id }}\",\n\"preferred_service\": \n\"{{ $json.call_inbound.dynamic_variables.preferred_service }}\",\n\"preferred_time_slot\": \n\"{{ $json.call_inbound.dynamic_variables.preferred_time_slot }}\",\n\"total_visits\": \n\"{{ $json.call_inbound.dynamic_variables.total_visits }}\",\n\"total_spent\": \n\"{{ $json.call_inbound.dynamic_variables.total_spent }}\",\n\"last_visit_date\": \n\"{{ $json.call_inbound.dynamic_variables.last_visit_date }}\",\n\"customer_notes\": \n\"{{ $json.call_inbound.dynamic_variables.customer_notes }}\",\n\"account_status\": \n\"{{ $json.call_inbound.dynamic_variables.account_status }}\",\n\"customer_status\": \n\"{{ $json.call_inbound.dynamic_variables.customer_status }}\"\n}\n}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "6b9c6099-1829-442f-9e76-4cc3ba86fc0e",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1104,
        -640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if crm_api_key exists and is not undefined or \"undefined\"\nif (!$json[\"crm_api_key\"] || $json[\"crm_api_key\"] === \"undefined\") {\n  return [{ json: { error: \"crm_api_key is undefined or missing\" } }];\n}\n\ntry {\n  // Parse the crm_api_key field (it's a JSON string with an array inside)\n  const crmApiKey = JSON.parse($json[\"crm_api_key\"]);\n\n  // Check if crmApiKey is an array and has at least one element\n  if (!Array.isArray(crmApiKey) || crmApiKey.length === 0) {\n    return [{ json: { error: \"crm_api_key is not a valid array or is empty\" } }];\n  }\n\n  // The first element of the array is the response object\n  const response = crmApiKey[0];\n\n  // Return the parsed response with access_token, refresh_token, etc.\n  return [{ json: response }];\n} catch (error) {\n  // Return error details for debugging\n  return [{ json: { error: \"Failed to parse JSON\", details: error.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        256
      ],
      "id": "d550e537-9e0f-4602-bbb4-91d7a962d1b7",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{$json.Contact_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Code').item.json.access_token}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        256
      ],
      "id": "87c432a0-2b9f-4ab2-843b-dbf9461c5357",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "customers",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Webhook').item.json.body.call_inbound.from_number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        256
      ],
      "id": "d4bb1143-4215-4474-b14c-71b2decc152f",
      "name": "Get a row2",
      "credentials": {
        "supabaseApi": {
          "id": "gvy78sNnKp8tzgrQ",
          "name": "Supabase Rynova"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ebea18b6-9c1d-4907-89f2-536fb9f06141",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        256
      ],
      "id": "45e29966-daeb-4f88-ab5f-97b4320475c6",
      "name": "If2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"call_inbound\": {\n    \"dynamic_variables\": {\n        \"first_name\": \"{{ $('Get a row2').item.json.first_name }}\",\n\"last_name\":\"{{ $('Get a row2').item.json.last_name }}\",\n\"customer_status\":\"Customer_Exists\",\n\"customer_name\": \"{{ $('Get a row2').item.json.first_name }} {{ $('Get a row2').item.json.last_name }}\"\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        160
      ],
      "id": "daa2604b-6bbf-43b0-bcef-0598590c2d89",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"call_inbound\": {\n    \"dynamic_variables\": {\n        \"first_name\": \"\",\n\"last_name\":\"\",\n\"customer_status\":\"new\",\n\"customer_name\": \"\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        352
      ],
      "id": "94754ba7-89ac-462f-a586-67cc83007a68",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2544,
        256
      ],
      "id": "24ff4d86-9368-4dd0-8201-b47d8107a764",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": "return {\n  call_inbound: {\n    override_agent_id: \"agent_12345\",          // optional, replace with your agent_id if needed\n    override_agent_version: 1,                 // optional, set if you want to override version\n    dynamic_variables: {\n      first_name: $input.first().json.call_inbound.dynamic_variables.first_name,\n      last_name: $input.first().json.call_inbound.dynamic_variables.last_name,\n      customer_status: \"Customer_Exists\",\n      customer_name:\n        $input.first().json.call_inbound.dynamic_variables.first_name +\n        \" \" +\n        $input.first().json.call_inbound.dynamic_variables.last_name\n    },\n    metadata: {\n      random_id: \"12345\"                       // you can swap this with a real ID from your data\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        272
      ],
      "id": "948c151b-add1-47c7-9006-de841bbf3432",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "customers",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Webhook').first().json.body.call_inbound.from_number }}"
            },
            {
              "keyName": "client_id",
              "keyValue": "={{ $json.client_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        -640
      ],
      "id": "bbd76efa-10f1-49b7-a3ca-032d981aaf49",
      "name": "Get a row3",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "gvy78sNnKp8tzgrQ",
          "name": "Supabase Rynova"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv899746.hstgr.cloud",
            "user-agent": "axios/1.11.0",
            "content-length": "161",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "100.20.5.228",
            "x-forwarded-host": "n8n.srv899746.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "1f699411ba4c",
            "x-real-ip": "100.20.5.228",
            "x-retell-signature": "v=1758538451636,d=af9e5d22fa8a59259f58269167337fb11dc20cf3938ff6c639c5a42d17ee7840"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "call_inbound",
            "call_inbound": {
              "agent_id": "agent_c644649998bdc4cc10e162c208",
              "agent_version": 1,
              "from_number": "+12498005904",
              "to_number": "+12894018828"
            }
          },
          "webhookUrl": "https://n8n.srv899746.hstgr.cloud/webhook/g_user_check",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a row3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Retell Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row3": {
      "main": [
        [
          {
            "node": "Format Retell Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "354c074a-555b-4a09-9023-5cdc95f57c4f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a23a5a36084a4adf4da38e7db159b4442d0f7fa26992b909bde4e7462f866101"
  },
  "id": "G2opXdrLFdSfNY0w",
  "tags": []
}